body{
            background-color: darkslategray;
            font-family:"Bytesized", Arial, Tahoma, "Arial Black";
            font-size: 22px;
            color: white;
}

fa-code{
            color:red;
            image-size:30px;
}
            



