body{
            background-color: darkslategray;
            font-family:"Bytesized", Arial, Tahoma, "Arial Black";
            font-size: 22px;
            color: white;
}

fa-code{
            color:red;
}



.tudo{
    width: 1000px;
    height: 1200px;
    margin: auto;
    background-color: black;
}

.topo, .rodapé{
    width: 1000px;
    height: 200px;
    float: left;
    background-color: aqua;
}

.menu{
    width: 1000px;
    height: 50px;
    background-color: blueviolet;
}

.meio{

}

.lateral{

}

.rodapé{
    
}
